.vscode/*

## FRAUD ENGINE ##
FraudEngineService/fraud-engine-service.http
FraudEngineService/obj/*
FraudEngineService/bin/*

## KAFKA CONSUMER ##
KafkaConsumer/obj/*
KafkaConsumer/bin/*

## MOCK DATA PRODUCER ##
MockDataProducer/obj/*
MockDataProducer/bin/*

##POST GRES## 
postgres/

## Archive
Archive/

## Gateway
Gateway/obj/*
Gateway/bin/*
Gateway/Gateway.http

## Shared
Shared/obj/*
Shared/bin/*
